{% extends 'base.html.twig' %}

{% block title %}Reports List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Список отчетов</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if (reports is not empty) %}
    <table class="table table-hover table-striped" style="font-size: 75%;">
        <thead>
        <tr class="text-center">
            <th scope="col">Пользователь</th>
            <th scope="col">Код предприятия</th>
            <th scope="col">Наименование предприятия</th>
            <th scope="col">Тип информации</th>
            <th scope="col">Дата размещения</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr class="text-center">
                <td>{{ report.email }}</td>
                <td>{{ report.edrpou }}</td>
                <td>{{ report.name }}</td>
                <td>{{ report.nreg ? 'Регулярная' : 'Не регулярная' }}</td>
                <td>{{ report.publicDt | date('d.m.Y H:i') }}</td>
                <td><a href="{{ asset('uploads/reports/' ~ report.file) }}">Просмотреть</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info" style="margin-bottom: 20px">Отчетов пока нет...</div>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('reports_upload') }}" role="button">Подать отчет</a>
</div>
{% endblock %}
